<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseContentIdentifier</key>
	<string>com.apple.playgrounds.blank</string>
	<key>BaseContentVersion</key>
	<string>1.0</string>
	<key>ContentType</key>
	<string>PlaygroundBookUserEdit</string>
	<key>Diffs</key>
	<dict>
		<key>Chapters/Chapter1.playgroundchapter/Pages/0BEBE00D-E1BE-4AB2-BB02-2A64FB345541.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/0BEBE00D-E1BE-4AB2-BB02-2A64FB345541.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/41AD783D-D5C1-424A-AE16-089E94C3CE90.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/41AD783D-D5C1-424A-AE16-089E94C3CE90.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/4B2CFF21-1966-4797-AC0D-1A6BE64969F5.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/4B2CFF21-1966-4797-AC0D-1A6BE64969F5.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/E7733A33-7CEE-43C5-A350-6E3854B9211B.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/E7733A33-7CEE-43C5-A350-6E3854B9211B.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/F8548442-E0E0-4475-AB8E-19C7BA42F7F8.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/F8548442-E0E0-4475-AB8E-19C7BA42F7F8.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/FA46CECA-73C8-4D72-94F7-FF3B8A0C95BB.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/FA46CECA-73C8-4D72-94F7-FF3B8A0C95BB.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/UserManifest.plist</key>
		<string>Added</string>
		<key>UserModules/Entities.playgroundmodule/Sources/LightClock.swift</key>
		<string>Added</string>
		<key>UserModules/Entities.playgroundmodule/Sources/Meter.swift</key>
		<string>Added</string>
		<key>UserModules/Entities.playgroundmodule/Sources/Photon.swift</key>
		<string>Added</string>
		<key>UserModules/Entities.playgroundmodule/Sources/RocketPath.swift</key>
		<string>Added</string>
		<key>UserModules/Entities.playgroundmodule/Sources/TimeClock.swift</key>
		<string>Added</string>
		<key>UserModules/Math.playgroundmodule/Sources/CGPoint.swift</key>
		<string>Added</string>
		<key>UserModules/Math.playgroundmodule/Sources/CGVector.swift</key>
		<string>Added</string>
		<key>UserModules/Math.playgroundmodule/Sources/CollisionType.swift</key>
		<string>Added</string>
		<key>UserModules/Math.playgroundmodule/Sources/Constants.swift</key>
		<string>Added</string>
		<key>UserModules/Math.playgroundmodule/Sources/Random.swift</key>
		<string>Added</string>
		<key>UserModules/Scenes.playgroundmodule/Sources/BouncingLight.swift</key>
		<string>Added</string>
		<key>UserModules/Scenes.playgroundmodule/Sources/Conclusion.swift</key>
		<string>Added</string>
		<key>UserModules/Scenes.playgroundmodule/Sources/LCSCNScene.swift</key>
		<string>Added</string>
		<key>UserModules/Scenes.playgroundmodule/Sources/LCSKScene.swift</key>
		<string>Added</string>
		<key>UserModules/Scenes.playgroundmodule/Sources/LCViewController.swift</key>
		<string>Added</string>
		<key>UserModules/Scenes.playgroundmodule/Sources/LightClockScene.swift</key>
		<string>Added</string>
		<key>UserModules/Scenes.playgroundmodule/Sources/LightTunnel.swift</key>
		<string>Added</string>
		<key>UserModules/Scenes.playgroundmodule/Sources/RocketClock.swift</key>
		<string>Added</string>
		<key>UserModules/Scenes.playgroundmodule/Sources/SceneManager.swift</key>
		<string>Added</string>
		<key>UserModules/Scenes.playgroundmodule/Sources/SimScene.swift</key>
		<string>Added</string>
		<key>UserModules/Scenes.playgroundmodule/Sources/SimViewController.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/SharedCode.swift</key>
		<string>Removed</string>
	</dict>
	<key>FormatVersion</key>
	<integer>2</integer>
	<key>UpdatedContentVersion</key>
	<string>1.0</string>
</dict>
</plist>
