<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>41AD783D-D5C1-424A-AE16-089E94C3CE90.playgroundpage</string>
		<string>E7733A33-7CEE-43C5-A350-6E3854B9211B.playgroundpage</string>
		<string>4B2CFF21-1966-4797-AC0D-1A6BE64969F5.playgroundpage</string>
		<string>11EFB55C-C17D-4AD5-9DA8-51743F3C925B.playgroundpage</string>
		<string>F8548442-E0E0-4475-AB8E-19C7BA42F7F8.playgroundpage</string>
		<string>75EFCDB9-844E-4A36-AE2E-824A68C005F7.playgroundpage</string>
	</array>
</dict>
</plist>
